# Ignore Terraform system folder where providers/modules are downloaded
**/.terraform/*

# Ignore Terraform state files (may contain sensitive info)
*.tfstate
*.tfstate.*


# Ignore lock files for Terraform module dependencies (commit this!)
.terraform.lock.hcl

# documents
*.doc

