# Ignore Terraform system folder where providers/modules are downloaded
**/.terraform/*

# Ignore Terraform state files 
*.tfstate
*.tfstate.*

# Ignore lock files
.terraform.lock.hcl

# documents
*.doc